@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.fullLayout {
  background-color: rgb(170, 205, 236);
  height: 100vh;


}

.loginBg {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  height: auto;
  width: 80%;

}

.loginCardRow {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;

}


.signUp {
  min-height: 90%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(131, 192, 131);
  border-radius: 15px;
  box-shadow: 16px 16px 16px -5px rgba(0, 0, 0, 0.4);

}

.signUpInner {
  padding-bottom: 15px;
  width: 80%;
  height: auto;
  text-align: center;
  color: white;
}

.signUpInner h1,
p {
  margin: 20px 0px;
}

.signUpInner h1 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.welcomeIcon{
  width: 30px;
}


.signUpBtn{
  margin-top: 20px;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: white;
}
.signUpBtn:hover{
  background-color: rgb(171, 226, 171);
  border: 1px solid;
}



.signIn {
  min-height: 90%;
  min-height: 400px;
  min-width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
    box-shadow: 16px 16px 16px -5px rgba(0, 0, 0, 0.4);


}


.signInInner {
  width: 100%;
  height: 70%;
  text-align: center;
}

.signInInner h2 {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
}

.userName,
.password {
  border-radius: 5px;
  display: flex;
  margin: 20px auto;
  width: 80%;
  height: 40px;
}


.signInBtn {
  margin-top: 30px;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: rgb(171, 226, 171);
}


.signInBtn:hover{
  border: 1px solid;
  background-color: white;
}