.techBg {
  height: auto;
  max-width: 80rem;
  margin: 0 auto;
}


.techStackHead{
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  color:  #2a4145;;
}
.techStackIcon{
  width: 40px;
  margin-right:10px;
}


.row {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 15px;
  width: 100%;
}

.col {

  margin: 50px 30px;
  height: auto
}


.card {
  width: 90%;
  min-width: 100%;
  height: auto;
  background-color: white;
  background: linear-gradient(white, white);
  box-shadow: 16px 16px 16px -5px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.cardLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d454a;
  color: white;
  font-size: clamp(1.3em, 1.2vw, 1.5rem);

}

.stackName{
  display: flex;
  text-align: center;
  padding: 20px;
}
.cardRight{
  height: auto

}

.cardSkill{
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}

.cardRight img {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 20px 15px;

}