asgiref==3.5.2
bottle==0.12.21
certifi==2022.5.18.1
charset-normalizer==2.0.12
cycler==0.11.0
Django==4.0.4
django-cors-headers==3.12.0
djangorestframework==3.13.1
fonttools==4.33.3
idna==3.3
ikpy==3.0.1
kiwisolver==1.4.2
matplotlib==3.5.2
mpmath==1.2.1
mysql-connector-python==8.0.29
mysqlclient==2.1.0
numpy==1.22.4
olefile==0.46
opencv-contrib-python==4.5.5.64
packaging==21.3
Pillow==9.1.1
protobuf==4.21.1
PyMySQL==1.0.2
pyparsing==3.0.9
pypot==5.0.2
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.1
six==1.16.0
sqlparse==0.4.2
sympy==1.10.1
tornado==6.1
urllib3==1.26.9
wget==3.2
wordcloud==1.8.1
