@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
$totalPages: 8;

:root {
    --margin: 110px;
    --perspective: 1800px;
    --transition: transform 1s .2s, z-index 0s 0.5s;
    --yellow: black;
}

%page {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    transform-origin: 0 50%;
}


body {

    & .pages {
        margin: 0;
        padding: 30px;
        background: var(--background);
        height: 100vh;
        overflow: hidden;
        font-family: 'Sree Krushnadevaraya', serif;
        width: calc(110% - var(--margin));
        height: calc(150% - var(--margin));
        left: 0;
        right: 0;
        margin: auto;
        perspective: var(--perspective);
        box-shadow: 0 41px 38px -20px #0a3150;
        max-width: 1300px;
        max-height: 700px;


        input {
            display: none;
        }

        // Page specific transitions



        &_page {
            @extend %page;

            pointer-events: none;

            float: right;
            transform-style: preserve-3d;

            @for $i from 1 through $totalPages {
                &:nth-of-type(#{$i}) {
                    z-index: $totalPages - $i;
                    transition: var(--transition);
                }
            }


            &:nth-of-type(1) {
                left: 0;
                z-index: 0;
                transform: rotateY(0deg) !important;
                pointer-events: none;

                & .pages_page__inner {
                    transform: rotateY(0deg) !important;

                }
            }
            &:nth-of-type(2) {
                pointer-events: all;

            }

            &:nth-of-type(odd) {
                & .pages_page__inner {
                    transform: rotateY(180deg);
                }
            }

            &:nth-of-type(1) {
                .pages_page__inner {  
                    background-color: blue
                }
            }
            &:nth-of-type(2) {
                .pages_page__inner {

                    background-color:burlywood
                }
            }

            &:nth-of-type(3) {
                .pages_page__inner {
                    background-color: antiquewhite;
                }
            }


            &:nth-of-type(4) {
                .pages_page__inner {
                    background-color: aqua;

                }
            }

            &:nth-of-type(5) {
                .pages_page__inner {
                    background-color: aquamarine
                }
            }


            &:nth-of-type(6) {
                .pages_page__inner {
                    background-color:#ffce14
            }
        }
        &:nth-of-type(7) {
            .pages_page__inner {
                background-color:#ffce14
        }
    } &:nth-of-type(8) {
        .pages_page__inner {
            background-color:#ffce14
    }
}

project{
     border: 1px solid black;
     width: 95%;
     height: 50%;
     display: block;
     margin: 0 auto;
     padding-top: 30px;
 }

.introduce{

    h1,h4{
        text-align: center;
    }
}


            &__inner {
                background-size: 1400px !important;
                height: 100%;
                transform-style: preserve-3d;

                & .control {
                    position: absolute;
                    z-index: 1;
                    width: 31px;
                    height: 31px;
                    border: 1px solid var(--yellow);
                    border-radius: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30px;
                    cursor: pointer;
                    transition: all .23s;
                    box-shadow: 0 0 0 0px rgba(191, 151, 38, 1);

                    &:hover {
                        box-shadow: 0 0 0 10px rgba(191, 151, 38, 0.3);
                        left: 34px;

                        &:before {
                            width: 40px;
                            left: -40px
                        }
                    }


                    &.next {
                        left: auto;
                        right: 30px;

                        &:hover {
                            right: 34px;

                            &:before {
                                width: 40px;
                                right: -40px;
                            }
                        }

                        &:before {
                            left: auto;
                            right: -33px;
                        }

                        &:after {
                            transform: rotate(180deg);
                            top: 5px;
                            left: 11px;
                            pointer-events: none;
                        }
                    }

                    label {
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        cursor: pointer;
                    }

                   
                }




            }
        }

        // Triggers

        $input: '+ input + input';
        $p: 0;

        @for $i from 1 through (($totalPages / 2) - 2) {
            $input: $input +'+ input';
        }

        @for $i from 1 through ($totalPages / 2) {

            @debug $i;

            $lpage: '';
            $rpage: '+ div ';

            @if($i ==$totalPages / 2) {
                $input: str_slice($input, 0, -9);
            }

            @else {
                $input: str_slice($input, 0, -8);
            }

            @for $j from 1 through $p {

                @if($i ==1) {

                    $lpage: $lpage +'';
                    $rpage: $lpage +'';

                }

                @else {

                    $lpage: $lpage +'+ div ';
                    $rpage: $lpage +'+ div  ';

                    input[type="radio"]:nth-of-type(#{$i}) {
                        &:checked {
                            & #{$input} #{$rpage} {
                                pointer-events: all;
                                transform: rotateY(-180deg);
                                z-index: 10;
                                transition: var(--transition);

                                .control {
                                    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
                                }
                            }

                            & #{$input} #{$rpage}+div {
                                pointer-events: all;

                            }

                            & #{$input} #{$lpage} {
                                pointer-events: none;
                                z-index: 9;
                            }
                        }
                    }
                }
            }

            $p: $p + 2;
        }
    }
}