.footerLayout{
    background-color: #326d62;
    width: 100%;
    position: relative;
}

.footerMark{
    display: block;
    text-align: center;
    padding: 20px;
    max-width: 60rem;
    margin: 0 auto;

}

.footerInfo{
    color:aliceblue;
   text-align: center
;}



.icon:hover{
    transform: scale(1.1);
}

.icon{
    width: 40px;
    margin: 7px;
}