.footerMark{
    display: block;
    text-align: center;
    padding: 40px;
    max-width: 60rem;
    margin: 0 auto;

}

.footerInfo{
    color:aliceblue;
   text-align: center
;}



.icon:hover{
    transform: scale(1.1);
}

.icon{
    width: 40px;
    margin: 7px;
}