.footerMark{
    display: block;
    text-align: center;
    background-color: #326d62;
    padding: 40px;
}

.footerInfo{
    color:aliceblue;
   text-align: center
;}



.icon:hover{
    transform: scale(1.1);
}

.icon{
    width: 40px;
    margin: 7px;
}