.studyDetailBg {
    width: 100%;
    margin: 0 auto;
    background-color: #faf7e7
}

.top {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
}

.titleGroup {
    width: 80%;
    height: 60%;
    position: absolute;
    bottom: 0px;
}

.title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    word-break: break-all;
}

.title {
    font-size: clamp(1.5em, 2vw, 5rem);

}


.subTitle {
    width: auto;
    height: auto;
    margin-top: 20px;
    word-break: break-all;

}

.subTitle {
    font-size: clamp(1.2em, 1.5vw, 5rem);
}

.middle {
    height: auto;
    background-color: #faf7e7

}

.content {
    width: 90%;
    height: auto;
    border: 1px solid;
    margin: 0 auto;
    padding: 30px 40px;
    background-color: #fff;
    background-image:
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

}

.bottom{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #faf7e7

}

.button{
    height: 20%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button button{
    background-color:  #ede090;
    color: black;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  margin: 0px 20px;
  height: 70%;
}
.button button:hover {
    background-color: #d7efe8;
    color: black;
   
    transform: scale(1.1);
  }