.questionBg {
  height: auto;
  max-width: 80rem;
  margin: 0 auto;
}

.questionHead {
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  color: #1c453e;
}
.questionIcon {
  width: 40px;
  margin-right: 10px;
}

.questionInner {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0px 30px 15px;
  height: auto;
}
