.profileBackgr {

    background-color: #1a4d7a;
    background-size: 3px 3px;
    background-image:
        linear-gradient(0deg, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 10%, 1) 3px),
        linear-gradient(90deg, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 10%, 1) 5px);

    color: white;
    height: 700px;
    padding-top: 100px;
}



:root {
    --white: rgb(164, 147, 147);
    --light-shadow: #efa212;
    --dark-shadow: #ae720b;
}



.wrapper1,
.wrapper2,
.wrapper3 {
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    box-sizing: border-box;

}

.wrapper1>div,
.wrapper2>div,
.wrapper3>div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #363833;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
    margin-top: 20px;
}

.wrapper1 {
    font-size: clamp(2.5em, 4.5vw, 10rem);

}

.wrapper2 {
    font-size: clamp(2em, 3.5vw, 10rem);

}

.wrapper3 {
    font-size: clamp(2em, 3vw, 10rem);

}



div.bg {

    background-image: repeating-linear-gradient(105deg,
            var(--white) 0%,
            var(--dark-shadow) 5%,
            var(--white) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
}

div.fg {
    background-image: repeating-linear-gradient(5deg,
            var(--white) 0%,
            var(--light-shadow) 23%,
            var(--) 31%);
    color: white;
    transform: scale(1);
}




  .btnGrid{
    margin: 80px 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
  button.aboutMore {
    font-weight: 1000;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: white;
    border: 2px solid black;
    border-radius: 0.75em;
    transform-style: preserve-3d;

  }
  button.aboutMore::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #efa212;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.aboutMore:hover {
    background: #f9c15a;
    transform: translate(0, 0.25em);
  }
  button.aboutMore:hover::before {
    box-shadow: 0 0 0 2px #efa212, 0 0.5em 0 0;
    transform: translate3d(0, 0.5em, -1em);
  }
  button.aboutMore:active {
    background: #efa212;
    transform: translate(0em, 0.75em);
  }
  button.aboutMore:active::before {
    box-shadow: 0 0 0 2px black, 0 0 black;
    transform: translate3d(0, 0, -1em);
  }



/* 
.aboutMe{
    width: 80%;
    padding: 50px 60px;
    margin: 0 auto;
    background-color:bisque;

    
}


.profile{
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 10px;

}

.icons{
    list-style: none;
    display: block;
}

.icon:hover{
    transform: scale(1.1);
}

.icon{
    width: 40px;
    margin: 5px;
}

.introduce{
    margin-top: 50px;
    text-align: center;
} */