ul{
    list-style: none;
}

li{
    display: block;
    margin: 5px;
}

.backGround{
    font-size: 30px;
    background-color: antiquewhite;
    height: 200px;
}
.title{
    display: block;
    text-align: center;
    margin: 60px;
}

.aboutMe{
    width: 80%;
    padding: 50px 60px;
    margin: 0 auto;
}

.myPhoto{
    width: 400px;
    display: block;
    float: right;
    margin-right: 50px;
}

.profile{
    display: block;
    margin-top: 60px;
    margin-left: 35px;
}

.information{
    font-size: 25px;
}
.infoLayout{
    width: 90%;
    margin: 0 auto;
}

.info{
    padding: 10px;
    text-align: center;
    margin: 20px;
    min-width: 200px;
}