.techBg {
  height: auto;
  max-width: 80rem;
  margin: 0 auto;
}


.techStackHead{
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}
.techStackIcon{
  width: 40px;
  margin-right:10px;
}


.row {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 15px;
  width: 100%;
}

.col {

  margin: 50px 30px;
  height: auto
}


.card {
  width: 90%;
  min-width: 100%;
  height: auto;
  background-color: white;
  background: linear-gradient(white, white);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.cardLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d454a;
  color: white;
  font-size: clamp(1.3em, 1.2vw, 1.5rem);

}

.stackName{
  display: flex;
  text-align: center;
  padding: 20px;
}
.cardRight{
  height: auto

}

.cardRight img {
  width: 80px;
  display: inline-block;
  margin: 20px 10px;
}
/* 
.additional {
  position: absolute;
  width: 25%;
  height: 100%;
  background: linear-gradient(#2d454a, #2d454a);
  transition: width 0.6s;
  overflow: hidden;
  z-index: 2;
}


.userCard {
  height: 100%;
  text-align: center;
}

.part {
  margin: 150px 0px;
  color: white;
  word-break: break-all;
  font-size: clamp(1.3em, 2.3vw, 5rem);
}

.general {
  width: 70%;
  height: auto;
  position: absolute;
  right: 0px;
  z-index: 1;
  box-sizing: border-box;
}

.general img {
  width: 60px;
  display: inline-block;
  margin: 20px 5px;

} */